<!-- 
  <ul>
    <li *ngFor="let pokemon of pokemons">
      <label>
        <h2>#{{ pokemon.id }} - {{ pokemon.name}}</h2>
        <p>HP: {{ pokemon.stats.hp }}</p>
        <p>Attack: {{ pokemon.stats.attack }}</p>
        <p>Defense: {{ pokemon.stats.defense }}</p>
        <p>Special Attack: {{ pokemon.stats.specialAttack }}</p>
        <p>Special Defense: {{ pokemon.stats.specialDefense }}</p>
        <p>Speed: {{ pokemon.stats.speed }}</p>
      </label>
    </li>
  </ul> -->

  <!-- <div class="grid-container">
    <div class="grid-item" *ngFor="let pokemon of pokemons">
      <div class="pokemon-card" [ngStyle]="{'background-image': 'url(' + pokemon.image + ')'}">
        <h2>#{{ pokemon.id }} - {{ pokemon.name | uppercase }}</h2>
        <p *ngFor="let type of pokemon.types">{{ type | uppercase }}</p>
      </div>
    </div>
  </div> -->
  
  <ion-content>
    
    <div class="container">
      <ion-button id="opendev" class="btn" fill="clear">Sobre os desenvolvedores.</ion-button>
      <h2 class="titulo">PokéInfo</h2>
      <ion-searchbar 
      [(ngModel)]="pesca"
      (ionInput)="filtrar()"
      placeholder="Qual pokémon você está procurando?"
      ></ion-searchbar>

      <div class="toggle-button">
        <ion-text (click)="toggleFiltros()">
          Deseja filtrar por tipo?
        </ion-text>
      </div>

      <div class="filter-container" *ngIf="mostrarFiltros">
        <!-- <ion-label>Filtrar por tipo:</ion-label> -->
        <div *ngFor="let type of tipos" class="checkbox-container">
          <ion-checkbox
            (ionChange)="updateTiposSelecionados(type)"
            [checked]="tiposSelecionados.includes(type)"
            [disabled]="!tiposSelecionados.includes(type) && tiposSelecionados.length >= 2">
          </ion-checkbox>
          <ion-label>{{ type | uppercase }}</ion-label>
        </div>
      </div>
    </div>
    
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="Recarregar?"
        refreshingSpinner="circular"
        refreshingText="Buscando pokémons perdidos..."
      >
      </ion-refresher-content>
    </ion-refresher>

    <div class="grid-container">
      <div class="grid-item" *ngFor="let pokemon of filtroPokemons" (click)="openPokemon(pokemon.id)">
        <div class="pokemon-card" [ngStyle]="{'background-image': 'url(' + pokemon.image + ')'}">
          <h2>#{{ pokemon.id }} <br> {{ pokemon.name | uppercase }}</h2>
          <p *ngFor="let type of pokemon.types">{{ type  | uppercase }}</p>
        </div>
      </div>
    </div>
    <ion-modal
    #modal
    trigger="opendev"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0.25, 0.5, 0.75]"
    handleBehavior="cycle"
    >
    <ng-template>
      <ion-content class="ion-padding">
        <h3 class="modal-title">Essa é a dupla responsável pelo PokéInfo! </h3>
        <ion-list class="modal-lista" lines="none">
          <ion-item class="modal-item">
            <ion-avatar slot="start">
              <ion-img class="foto" src="assets/kaua.png"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Kauã Pereira</h2>
            </ion-label>
          </ion-item>
          <ion-item class="modal-item">
            <ion-avatar slot="start">
              <ion-img class="foto2" src="assets/julia.png"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Julia Rodrigues</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>