<ion-content [fullscreen]="true">
  <div class="header">
    <div class="logo-container">
      <img src="assets/pokeball.jpeg" alt="" class="logo">
    </div>
    <ion-title class="title">Login</ion-title>
    <p class="subTitle">Identifique-se para acessar sua conta</p>
  </div>

 <form action="">
  <div class="ion-padding">
    <ion-item>
      <ion-input placeholder="Email" class="input"></ion-input>
      <ion-icon name="mail-outline" color="black"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Senha" class="input"></ion-input>
      <ion-icon name="lock-closed-outline" color="black"></ion-icon>
    </ion-item>
    <div class="esqueceuSenha">
      <a [routerLink]="['/redefinir-senha']" style="color: #FFC33F">Esqueceu a senha?</a>
    </div>
    <div class="cadastroLink">
      <p><a style="color: #FFC33F" [routerLink]="['/cadastro']">Criar conta</a></p>
    </div>
  </div>
  <ion-button class="login-button" [routerLink]="['/tabs/tab1']">
    Entrar
  </ion-button>
  
 </form>
 
</ion-content>
