<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Time KaJu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="texto">
      <p class="paragrafo">
        Esse é o time responsável pelo projeto PokeInfo!
      </p>
    </div>
  </div>
  <ion-card>
    <img class="foto" alt="kaua" src="assets/kaua.png" />
    <ion-card-header>
      <ion-card-title class="mat">Kauã Pereira</ion-card-title>
      <ion-card-subtitle class="mat">Matrícula: 22205163</ion-card-subtitle>
    </ion-card-header>
  
<!--     <ion-card-content class="mat">
      Kauã é desenvolvedor e trabalhou no desenvolvimento do aplicativo PokeInfo!
    </ion-card-content> -->
  </ion-card>
  <ion-card>
    <img class="foto2" alt="julinha" src="assets/julia.png" />
    <ion-card-header>
      <ion-card-title class="mat">Julia Rodrigues</ion-card-title>
      <ion-card-subtitle class="mat">Matrícula: 22200383</ion-card-subtitle>
    </ion-card-header>
  
<!--     <ion-card-content class="mat">
      Kauã é desenvolvedor e trabalhou no desenvolvimento do aplicativo PokeInfo!
    </ion-card-content> -->
  </ion-card>
</ion-content>
