<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<div class="container">
  <ion-button routerLink="/tabs/devs" class="btn" fill="clear">Sobre os desenvolvedores.</ion-button>
  <h2 class="titulo">PokéInfo</h2>
  <ion-searchbar></ion-searchbar>
</div>
  <app-pokeapicomp></app-pokeapicomp>

<!--   <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->
  
</ion-content>
